# Explanation of rules definition
# When the first regex for a TAG grouping is found on a line, there are 5 distinct text globs that
# can be individually highlighted. The following example will be split into the following globs:
#
#     text before tag TAG_REGEX some text following info - The message from the log
#         this is a new line
#
# rule   | glob | text affected
# -------+------+----------------------------
# before | 1    | text before tag
# tag    | 2    | TAG_REGEX
# after  | 3    | some text following info -
# msg    | 4    | The message from the log
# lines  | 5    | this is a new line
#
# Highlighting for the last glob affects any text starting from the first newline after the fourth glob.
# Each glob may have a unique highlighting rule applied to it. If a rule is not specified for a glob, a default
# rule will be inherited from within the tag or the default config if its parent is not defined in the tag.
#
# Use the rule names above combined with the following to specify the highlighting rules in detail:
#    fg        -> 2) foreground
#    bg        -> 2) background
#    ex        -> 2) non-color style (bold, italics, underline, invert, etc)
# 
# To specify the foreground of the tag, use tagfg. To specify the background of the lines following a tag, use linesbg
#
# The following shows where rules will inherit from if it is not explicitly defined:
# tag    -> default tag config
# before -> default before config
# after  -> default after config
# msg    -> tag
# after  -> after
#
# It is also possible to highlight only the tag that was found, in which case the SEARCH tag grouping should be used.
# The regex defines what to search for, but highlighting rules will only be applied to the match.
# Since there is only one grouping, only the 'fg', 'bg', and 'ex' are used to define the highlighting for searches.
# These rules will also inherit from the default config if not defined.
#
# The 'fg' and 'bg' rules are helpers to define colors easily. Three values can be specified between 0 and 5 (inclusive)
# to specify the R G B value of the color. There are 6 color ramps available with slightly different shades included,
# which can be specified with two values, the first being a letter indicating which ramp to use (r for red, g for green,
# b for blue, m for magenta, c for cyan, and y for yellow) and a number to indicate which value from the ramp to use
# between 1 and 7 (inclusive; 0 is black). A special, larger grayscale ramp is also available, which can be specified
# by the letter x and and a value between 1 and 27 (inclusive; 0 is black)
#
# If you know what colors you want to use, you can simply use the rule name without 'fg' and 'bg'. If you specify the
# format directly, do not start the format with the control character, '[', or end the format with 'm', since these are
# included automatically. All special formatting codes should be set in 'ex' so that they can be properly unset after the
# glob they are meant to apply to, or the styling will apply to everything following the first use.

[TAG]
regex=INFO
tagfg=c 5
afterfg=c 3

[TAG]
regex=WARN
tagfg=y 6
afterfg=y 2

[TAG]
regex=ERROR
tagfg=r 6
afterfg=r 3

[TAG]
regex=TRACE
tagfg=m 6
afterfg=m 3

[TAG]
regex=DEBUG
tagfg=g 6
afterfg=g 3

[TAG]
regex=FATAL
tagfg=r 6
tagex=4
afterfg=r 3
afterex=24
msgfg=r 6

[SEARCH]
regex=^==>.*<==$
fg=m 6
